footer {
  /* DREI IKAW NA BAHALA SA DESIGN*/
  position: relative;
  left: 50%;
  right: 50%;
  height: 150px;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 100px;
  background: #000;
  color: #fff;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
}
