body {
  font-family: "Righteous", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #05061f;
  color: white;
}
html {
  scroll-behavior: smooth;
}
