.header-buttons {
  margin-right: 10%;
  
}
.user-icon{
  height: 20px;
  width: auto;
  color: white;
}


.home-button,
.user-icon,
.about-us-button,
.statistics-page-button,
.history-button {
  text-decoration: none;
  border: none;
  background-color: none;
  color: white;
  font-size: clamp(15px, 3vw, 18px);
  margin-right: 30px;
}

.home-button:hover,
.user-icon,
.about-us-button:hover,
.statistics-page-button:hover,
.history-button:hover {
  color: #0077c3;
  cursor: pointer;
}
