.header {
  height: clamp(100px, 10vw, 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  background-color: rgba(20, 21, 38, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 0 0 12px 12px;
}

.image-logo {
  height: clamp(10vh, 15vh, 16vh);
  width: clamp(10vh, 15vh, 16vh);
  border-radius: 50%;
  object-fit: cover;
  border: none;
  margin-left: 20%;
  transition: transform 0.3s ease;
}
.image-logo:hover {
  filter: drop-shadow(0 0 15px #0077c3) drop-shadow(0 0 30px #0077c3);
}
.logo-link {
  cursor: pointer;
  display: inline-block;
}
