.statistics-info-container {
  width: 100vw;
  height: 85vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 2rem;

  text-align: center;
}

.h2 {
  font-size: clamp(15px, 25px, 30px);
  color: white;
}

.statistics-info-container {
  font-size: 16px;
  color: white;
  margin-bottom: 25px;
}

.charts-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: hidden;
  padding: 10px;
}

@media (max-width: 1270px) {
  .charts-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;

    background-color: #9aa5b1;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
  }
}

.charts-container::-webkit-scrollbar {
  width: 14px;
}

.charts-container::-webkit-scrollbar-track {
  background: #7d8ca3;
  border-radius: 10px;
}

.charts-container::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 10px;
  border: 2px solid #9aa5b1;
}

.charts-container::-webkit-scrollbar-thumb:hover {
  background: #1e3a8a;
}

.chart-box {
  flex: 0 0 auto;
  width: 100%;
  max-width: 400px;
  background-color: #26273b;
  border-radius: 12px;
  padding: 1rem;
  box-sizing: border-box;

  position: relative;
  aspect-ratio: 1 / 1;
}

.chart-box:hover {
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6), 0 0 15px rgba(108, 99, 255, 0.4);
  background: linear-gradient(145deg, #2f304a, #1f2033);
  border: 1px solid rgba(108, 99, 255, 0.5);
}

.chart-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
}

.chart-box canvas {
  width: 100% !important;
  height: 300px !important;
}
