.info-container{
  display: grid;
  margin: 250px 100px 0px 100px;
  height: 500px;
  width: clamp(250px 50vw 1000px);
  background-color: #26273b;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  padding: 20px;
 
 
  
}