.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgba(20, 21, 38, 0.9); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(8px); 
  border-radius: 0 0 12px 12px; 
}