.header-buttons{
  margin-right: 10%;
  padding-top: 30px;
 

}
.home-button, .health-tips-button, .about-us-button, .statistics-button, .history-button{
  text-decoration: none;
  border: none;
  background-color: #0b0c1b;
  color: white;
  font-size: 20px;
  margin-right: 10px;
 
}
.home-button:hover,
.health-tips-button:hover,
.about-us-button:hover,
.statistics-button:hover,
.history-button:hover {
  color:#0077c3;
  cursor: pointer;
}